// ==========================================================================
//                             UICSS Objects Grid
// ==========================================================================

// Container
.o-container {
    @include make-container();
    @include make-container-max-widths();
}

// Container Fluid
.o-container-fluid {
	@include make-container();
}

// Row
.o-row {
	@include make-row();
	.is-no-gutters {
		margin-right: 0;
		margin-left: 0;
		>.o-column,
		>[class*="o-column-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

// Columns
@if $enable-grid-classes {
	@include make-grid-columns();
}